<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Success</title>
	<link href="../assets/css/style.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
	<nav>
		<div class="matrix-bg"></div>
		<div class="logo"><a href="/">WEBSERV</a></div>
		<div class="nav-links">
			<a href="/calculator.html">Calculator</a>
			<a href="/upload.html">Upload</a>
			<a href="/cookie.html">Cookie</a>
			<a href="/login.html">Login</a>
		</div>
	</nav>
	<div id="app">
		<div class="welcome-message">Welcome back, {{username}}</div>
		<a href="/login.html" class="logout-button">Log Out<span class="blink">_</span></a>
	</div>
</body>
</html>
